{% extends "base.html" %}

{% block icon %}<link rel="icon" href="{{ url_for('static', filename='images/icon-eye.svg') }}?v={{ timestamp }}" type="svg+xml">{% endblock %}

{% block content %}
<div class="container mt-3">
  <!-- Tools Nav -->
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item"><a class="nav-link {% if request.endpoint == 'visualise' %}active{% endif %}" href="{{ url_for('visualise') }}">Visualise</a></li>
    <li class="nav-item"><a class="nav-link {% if request.endpoint == 'edge_detect' %}active{% endif %}" href="{{ url_for('edge_detect') }}">Edge Detection</a></li>
    <li class="nav-item"><a class="nav-link {% if request.endpoint == 'histogram' %}active{% endif %}" href="{{ url_for('histogram') }}">Histogram</a></li>
  </ul>

  {% block tools_content %}{% endblock %}
</div>
{% endblock %}