{% extends 'tools/base.html' %}

{% block title %}Histogram{% endblock %}
{% block icon %}<link rel="icon" href="{{ url_for('static', filename='images/favicons/chart-bar.svg') }}?v={{ timestamp }}" type="svg+xml">{% endblock %}

{% block page_header %}Visualise Your Image{% endblock %}
{% block page_subheader %}Select one of your uploaded images to analyse its visual and file features.{% endblock %}


{% block tools_content %}
<div class="card p-4">
  <h2 class="mb-3">Image Histogram Tool</h2>
  <p class="text-muted">This tool will let you compute and visualise intensity histograms of uploaded images.</p>
  <p class="text-muted">More functionality coming soon...</p>
</div>
{% endblock %}