# Python cache files
__pycache__/
*.pyc
*.pyo

# SQLite database (if you're not required to commit it) app/app.db

# Instance (config overrides and runtime data)
instance/

# Environment files
application-env/
.env

# VS Code settings (optional)
.vscode/

# Mac OS specific
.DS_Store*.pyc
