# Python cache files
__pycache__/
*.pyc
*.pyo

# SQLite database (if you're not required to commit it) app/app.db

# Environment files
application-env/
.env

# Migrations (optional — check if you're required to commit these!)
# migrations/

# VS Code settings (optional)
.vscode/

# Mac OS specific
.DS_Store