/* Custom styles go here */
/* Card hover effects for clickable image previews */
.clickable {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.clickable:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}

.plus-icon-wrapper {
  position: relative;
  display: inline-block;
  width: 128px;
  height: 128px;
  opacity: 60%;
  background-image: url("/static/images/plus.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-hover {
  transition: transform 0.15s ease-in-out;
}

.icon-hover:hover {
  transform: scale(1.25);
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.image-placeholder {
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  border: 2px dashed #ced4da;
  border-radius: 5px;
}
.image-title-center {
  text-align: center;
  margin-top: 10px;
}
.card-image-preview {
  min-height: 400px;
}

#inbox-icon img:hover {
  content: url("/static/images/envelope-open.svg");
}

.navbar .nav-link.active {
  color: #0e0add !important;
}