{% extends "base.html" %}

{% block title %}Social{% endblock %}
{% block icon %}<link rel="icon" href="{{ url_for('static', filename='images/favicons/share.svg') }}?v={{ timestamp }}" type="svg+xml">{% endblock %}

{% block content %}
<div class="container mt-3">
  <!-- Social Nav -->
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item"><a class="nav-link {% if request.endpoint == 'social_feed' %}active{% endif %}" href="{{ url_for('social_feed') }}">Feed</a></li>
    <li class="nav-item"><a class="nav-link {% if request.endpoint == 'inbox' %}active{% endif %}" href="{{ url_for('inbox') }}">Inbox</a></li>
    <li class="nav-item"><a class="nav-link {% if request.endpoint == 'list_users' %}active{% endif %}" href="{{ url_for('list_users') }}">Users</a></li>
    <li class="nav-item"><a class="nav-link {% if request.endpoint == 'create_post' %}active{% endif %}" href="{{ url_for('create_post') }}">Create Post</a></li>
  </ul>

  {% block social_content %}{% endblock %}
</div>
{% endblock %}