{% extends "social/base.html" %}
{% block title %}Friend Feed - Vision Toolkit{% endblock %}
{% block page_header %}Feed{% endblock %}
{% block page_subheader %}See what your friends have been envisioning!{% endblock %}

{% block social_content %}
{% for post in posts %}
  <div class="col-lg-6 d-flex flex-column card mx-auto mb-4" style="max-width: 600px;">
    <div class="card-body text-center p-0">
      <div class="card-body text-center">
        {% if post.image %}
          <img src="{{ url_for('main.uploaded_file', filename=post.image.filename) }}" class="img-fluid" alt="{{ post.title }}">
        {% else %}
          <div id="image-placeholder" class="image-placeholder">
            <p class="text-muted">No image selected</p>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">
        {{ post.title }}
        {% if post.image.source_type == 'tool-generated' %}
          <span class="badge bg-secondary ms-2">GEN</span>
        {% else %}
          <span class="badge bg-info ms-2">UPLOAD</span>
        {% endif %}
      </h5>
      {% if post.image.source_type == 'tool-generated' %}
        <p class="card-text text-muted">Posted by <strong>{{ post.user.username }}</strong> • {{ post.timestamp.strftime('%b %d, %Y %I:%M %p') }}</p>
        <p class="card-text">{{ post.subtitle }}</p>
        <a href="{{ url_for('main.reopen_tool', image_id=post.image.id) }}" class="btn btn-outline-danger btn-sm">🛠️ Try This Tool</a>
        <a href="#" class="btn btn-outline-primary btn-sm d-none">💬 Comment</a><!-- Note: not being displayed, can add later -->
        <a href="{{ url_for('main.save_photo', image_id=post.image.id) }}" class="btn btn-outline-success btn-sm">⬇️ Add Image</a>
      {% else %}
        <p class="card-text text-muted">Posted by <strong>{{ post.user.username }}</strong> • {{ post.timestamp.strftime('%b %d, %Y %I:%M %p') }}</p>
        <p class="card-text">{{ post.subtitle }}</p>
        <a href="#" class="btn btn-outline-danger btn-sm d-none">🌄 Visualise</a><!-- Note: not being displayed, can add later -->
        <a href="#" class="btn btn-outline-primary btn-sm d-none">💬 Comment</a><!-- Note: not being displayed, can add later -->
        <a href="{{ url_for('main.save_photo', image_id=post.image.id) }}" class="btn btn-outline-success btn-sm">⬇️ Add Image</a>
      {% endif %}
    </div>
  </div>
{% endfor %}
<div class="mt-4 mb-4 text-center"></div>
<a href="{{ url_for('main.list_users') }}" class="btn btn-outline-primary mb-5">👥 Find Users to Follow</a>
{% endblock %}
