{% extends "social/base.html" %}
{% block title %}Inbox - Vision Toolkit{% endblock %}
{% block page_header %}Inbox{% endblock %}
{% block page_subheader %}See follow requests or posts from friends.{% endblock %}

{% block social_content %}
  <ul class="list-group">
    {% for message in requests %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <strong>Follow Request</strong> from {{ message.follower.username }}
        </div>
        <form method="post" action="{{ url_for('accept_follow', req_id=message.id) }}">
          <button type="submit" class="btn btn-success btn-sm">Accept</button>
        </form>
      </li>
    {% else %}
      <li class="list-group-item">No new messages.</li>
    {% endfor %}
  </ul>
{% endblock %}