{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block page_header %}Computer Vision Toolkit{% endblock %}
{% block page_subheader %}Log in to get started.{% endblock %}
{% block content %}

  <div>
    <p>Welcome to the Computer Vision Toolkit.</p>
    <p>This web-based toolkit provides a set of tools for image analysis pertaing to computer vision tasks.</p>
    <p>Before you get started you'll need to <a href="{{ url_for('login') }}" class="link-primary">log in</a> or <a href="{{ url_for('register') }}" class="link-primary">make an account</a>.</p>
    <p>Once you do you'll be able to navigate the website from down below:</p>
    <ul>
      <li><strong>Introductory</strong> - The page you're on now.  Provides website info and documentation.</li>
      <li><strong>Upload</strong> - Here you'll be able to upload images to and manage your collection for use with the tools.</li>
      <li><strong>Social</strong> - This is where you can follow other users and share your images with them.</li>
      <li><strong>Tools</strong> - The core of the website.  Here you can manipulate your images with our tools.</li>
    </ul>
    <p>Thanks for using the Computer Vision Toolkit.</p>
  </div>

{% endblock %}
