{% extends "base.html" %}

{% block title %}Follow Users - Vision Toolkit{% endblock %}
{% block page_header %}Follow{% endblock %}
{% block page_subheader %}If accepted, you will see their posts on your feed.{% endblock %}

{% block content %}
  <h2>Discover Users</h2>
  <ul class="list-group">
    {% for user, status in user_statuses %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ user.username }}
        <form method="post" action="{{ url_for('send_follow_request', user_id=user.id) }}">
          {%  if status == -1 %}<button type="submit" class="btn btn-primary btn-sm">Follow</button>
          {% elif status == 0 %}<button type="button" class="btn btn-warning btn-sm" disabled>Requested</button>
          {% elif status == 1 %}<button type="button" class="btn btn-success btn-sm" disabled>Following</button>
          {% endif %}
        </form>
      </li>
    {% else %}
      <li class="list-group-item">No other users to follow.</li>
    {% endfor %}
  </ul>
  <a href="{{ url_for('follow_requests') }}" class="btn btn-primary btn">Manage your follow requests</a>
{% endblock %}